/* CSS Tree menu styles  as Navigation*/

#navigator ol.tree  {
	padding: 0 0 0 30px;
}
#navigator li  { 
	position: relative; 
	margin-left: -25px;
	list-style: none;
}
#navigator li.file { /* file under folder */
	margin-left: -30px !important;
}
#navigator li.file a  {/* file text */
	background: url(document.png) 10px 0 no-repeat;
	color: black;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	padding-left: 40px;
	display: block;
}
#navigator li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
#navigator li input + ol {
	background: url(toggle-small-expand.png) 40px 0 no-repeat;
	margin: -0.938em 0 0 -44px; /* 15px */
	height: 1em;
}
#navigator li input + ol > li { display: none; margin-left: -20px !important; padding-left: 1px; }
#navigator li label  {/* folder */
	background: url(folder-horizontal.png) 15px 3px no-repeat;
	cursor: pointer;
	text-align: left;
	padding-left: 40px;
	display: block;
	margin: 0 50 0 0;
}
#navigator li input:checked + ol {
	background: url(toggle-small.png) 40px 5px no-repeat;
	margin: -1.25em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}
#navigator li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
	/*li input:checked + ol > li:last-child { margin: 0 0 0.063em;  }*/
		