body {
background: #fff;
text-align: center;
margin: 0;
padding: 0;
}
#wrapper {
text-align: left;
width: 99.5%;
margin: 0 auto;
}
#header {
background: #000;
font-family: Optima, Arial, sans-serif;
font-weight: bold;
padding: 0 0 2px 0;
color: #fff;
}
#header h1 {
height: 100px;
line-height: 100px;
margin: 0;
padding: 0;
padding-left: 85px;
}
#header h1 span{
display:inline;
}
#header h1 a {
text-decoration:none;
color:#fff;
outline:none;
}

#some{
display:none;
}
#navigator {
	float:left;
	width:16.6%;
	margin-left: 20px;
	background:  #FFFAF0;
}
#navigator h3 {
	color: #999;
}
#navigator p {
	background: transparent
	font-family: serif;
	color: #262680;
}

#changer {
width: 545;
margin: 0 18.5%;
background: #FFFFE0;
}
#changer h3 {
color: #555;
}
#changer p {
background: transparent;
text-align: justify;
font-family: serif;
padding: 0.05em 0.25em 0.25em 0.25em;
color: #262680;
}

#changer ol {
background: transparent
font-family: serif;
color: #262680;
}
#changer ul {
background: transparent
font-family: serif;
color: #262680;
}
#changer code {
background-color: #E0F9FF;
white-space: pre;
color: #444;
font-family: monospace;
padding: 0.1em 0.25em 0.1em 0.25em;
}

#changer code.expr {
}
div.continue {
width: 100%;
text-align: center;
padding-top: 0.5em;
}
#note {
background-color: #FF6666;
color: #262680;
/*padding: 0.1em 0.25em 0.2em 0.25em;*/
}
#console {
position:fixed;
right:0px;
padding-top: 0.1em;
width: 40%;
background: #eee;


}

#console div.jquery-console-inner {
width:100%;
height:400px;
margin: 10px 10px;
overflow:auto;
text-align:left;
line-height: 1.2em;
}
#console div.jquery-console-message-value {
color:#0066FF;
font-family:monospace;
padding:0.1em;
}
#console div.jquery-console-welcome
{
font-family:monospace;
padding:0.1em;
}
#console div.jquery-console-prompt-box {
color:#333; font-family:monospace;
}
#console div.jquery-console-focus span.jquery-console-cursor {
background:#333; color:#eee; font-weight:bold;
}
#console div.jquery-console-message-error {
color:#ef0505; font-family:monospace;
padding:0.1em;
white-space: pre;
}
#console div.jquery-console-message-success {
color:#187718; font-family:monospace;
padding:0.1em;
}
#console span.jquery-console-prompt-label {
font-weight:bold;
}
#buttons {
text-align: left;
width: 620px;
margin: 0 auto;

}
#buttons a {
color: black;
font-family: Optima, Arial, sans-serif;
padding: 0em 1em;
font-weight:normal;
}
#buttons a.last {
margin-right: 0;
}
#buttons a:hover {
color: #fff;
cursor: pointer;
background-color: #888888;
}

div.footer {
text-align: center;
}

