<h2>Bedingte Ausdr&uuml;cke</h2>

<p>In Scheme gibt es mehrere M&ouml;glichkeiten Bedingungen zu formulieren.
Die einfachste Form ist das <i>if</i>. <br/>
Syntax:<br/>
(<i>if test consequent alternate</i>) oder (<i>if test consequent</i>)<br/>
<p>Die Funktion <i>if</i> wertet zuerst das erste Argument "<i>test</i>" aus. 
Ist dies nicht <i>#f</i> wird das zweite Argument "<i>consequent</i>" ausgewertet und als Ergebnis zur&uuml;ckgegeben. Das dritte Argument "<i>alternate</i>" ist der optionale "<i>else</i> Teil".<br/>

<code class="expr">(define x 42)</code><br/>
<code class="expr">(if  (= x 42) "richtig" "falsch" )</code> =>  "richtig" </p>
<!--
<p>Die Funktion <i>cond</i> kann verwendet werden, anstatt mehrere <i>if-else</i> Bedingungen zu schachteln. Die Argumente m&uuml;ssen 
jeweils eine Bedingung und einen Ausdruck, der ausgewertet werden soll, wenn die Bedingung <i>#t</i> ist, enthalten. 
Als letztes Argument ist ein <i>else</i> Teil m&ouml;glich, der ausgewertet wird, wenn keine Bedingung <i>#t</i> lieferte.<br/>-->

<code class="expr">(define x 44)</code><br/>
<code class="expr">(cond ((< x 42) "kleiner")
      ((> x 42) "gr&ouml;&szlig;er")
      (else     "richtig"))</code> => "gr&ouml;&szlig;er"<br/>

