<h2>Prozeduren und Funktionen</h2>

<p>Mithilfe der Abstraktion kann man komplexen Dingen einen Namen geben und sie unter diesem Namen immer wieder ansprechen. 
Als einfachste M&ouml;glichkeit zur Abstraktion bietet Scheme den <i>define</i> Operator:<br />

Eine Prozedur oder Funktion wird mittels <i>define</i> benannt. 
Hinter <i>define</i> folgt, der Name.<br/>
Syntax:<br/>

(<i>define Name Ausdruck</i>) <br/>

<code class="expr">(define a 8)</code><br/>
<br/>
Durch <i>Lambda-Ausdr&uuml;cke</i> werden Funktionen definiert. Sie erhalten Funktionsargumente und den Funktionsrumpf.<br/> 
Syntax:<br/>
<i>(define Funktionsname
  (lambda (Arg1 Arg2 ...) (Funktionsrumpf) ))</i>

<p>Dieses Beispiel addiert zu einer Zahl 23:<br/>

<code class="expr">(define add23
  (lambda (x) (+ x 23)))</code><br/>

<code class="expr">(add23 5)</code> => 28<br/>

<p>Dies l&auml;sst sich auch mittels <i>define</i> verk&uuml;rzt so schreiben:<br/>
Syntax:<br/>
<i>(define (Funktionsname Arg) (Funktionsrumpf))</i><br/>

<code class="expr">(define (add23 x) (+ x 23))</code><br/>
<code class="expr">(add23 5)</code> => 28<br/>




 </p>


