<h2>Umgang  mit REPL</h2>

<p>Nach der Eingabe eines Ausdruckes hinter dem Prompt-Zeichen ">" in der REPL und Druck der Eingabe-Taste, der Ausdruck wird ausgewertet und das Ergebnis wird in neue Zeile darunter angezeigt. <br/>

Geben Sie einen einfachen Ausdruck ein, wie die Zahl <code class="expr" class="expr">5</code>, oder die Zeichenkette <code class="expr">"Ich lerne Programmieren."</code>*. </p>

<p>Neben der manuellen Eingabe, wenn ein Ausdruck links als Beispiel steht, gibt es auch die M&ouml;glichkeit, diesen einfach durch einen Klick in die Eingabezeile r&uuml;ber zu kopieren.</p>
<p>Mittels Strg + Pfeil-Taste k&ouml;nnen bereits zur Auswertung vorgelegte Ausdr&uuml;cke wieder in die Eingabezeile geholt werden.<br/>
 <code class="expr">next</code></p>
<div id="note">
  * Die Ausdr&uuml;cke sind auf einfachen Datentypen basiert, die sich selbst auswerten, mehr dazu wird in "Ausdr&uuml;cke" erkl&auml;rt.
</div>





