<h2>Einf&uuml;hrung</h2>

<p> Dieser Onlinelernkurs dient als ein Tutor zum Thema "Programmieren". Es soll ein Dialog zwischen dem Leser und dem Rechner in der Sprache "Scheme" stattfinden.
 F&uuml;r einen Dialog m&uuml;ssen die Dialogpartner die Semantik und Syntax von der Sprache kennen.<br/>
 Unser Dialogpartner ist also ein Scheme-Interpreter. Dieser ist rechts als Konsole zu sehen.</p>
<p>Aus der Sicht des Scheme-Interpreters wird folgender Zyklus ausgef&uuml;hrt:
<ul>
	<li>1. Einlesen der Eingabe (read)</li>
	<li>2. Auswerten der Eingabe (eval)</li>
	<li>3. Ausgeben einer Antwort (print)</li>
	<li>4. Setze fort bei 1. (loop)</li> </ul>

<p>Die Anfangsbuchstaben der in Klammern geschriebenen englischen Worte ergeben den daf&uuml;r g&auml;ngigen Begriff, n&auml;mlich REPL - Read-Eval-Print-Loop.<br/>

  Durch ein Klick auf die W&ouml;rte: <code class="expr">next</code>, <code class="expr">forward</code>, <code class="expr">back</code> und 
  <code class="expr">restart</code>, oder durch das Eintippen der W&ouml;rte in REPL kann man durch die Seiten navigieren.
</p>
<p>Jetzt zeigen wir, wie man in diesem Kurs mit dem Interpreter arbeitet.<code class="expr">next</code></p>
