<h2>Funktionen auf Listen</h2>

<p>Um auf einzelne Listenelemente zuzugreifen, verwendet man die Prozeduren <i>car</i>, f&uuml;r
das erste Listenelement, und <i>cdr</i>, sprich: "kudder", f&uuml;r die Restliste ohne das erste Element.<br />
><code class="expr">(car '(a b c))</code>==> a<br/> 
><code class="expr">(cdr '(a b c))</code>==> (b c)<br/> 
<p>Um auf das erste Listenelement zuzugreifen, wird die Prozeduren <i>first</i> verwendet, und <i>second</i>, f&uuml;r das zweite Element, usw..<br />

><code class="expr">(first '(1 (+ 1 2) 3))</code>  ==>  1<br/>
><code class="expr">(second '(1 (+ 1 2) 3))</code>  ==>  (+ 1 2)<br/>
><code class="expr">(first (second '(1 (+ 1 2) 3)))</code> ==> +<br/>
><code class="expr">(second (second '(1 (+ 1 2) 3)))</code> ==> 1<br/>
><code class="expr">(third (second '(1 (+ 1 2) 3)))</code> ==> 2</p>
  

