<h2>Funktionen auf Listen</h2>

<p>Um auf einzelne Listenelemente zuzugreifen, verwendet man die Prozeduren <i>car</i>, f&uuml;r
das erste Listenelement, und <i>cdr</i>, sprich: "kudder", f&uuml;r die Restliste ohne das erste Element.<br />
><code class="expr">(car '(a b c))</code>==> a<br/> 
><code class="expr">(cdr '(a b c))</code>==> (b c)<br/> 



><code class="expr">(second '(1 (+ 1 1) 3))</code>  ==>  (+ 1 1)<br/>
><code class="expr">(first (second '(1 (+ 1 1) 3)))</code> ==> +</p>
><code class="expr">(first (second '(1 (+ 1 1) 3)))</code> ==> +</p>
><code class="expr">(first (second '(1 (+ 1 1) 3)))</code> ==> +</p>
  

