<html>
<head>
 <title>Try Racket</title>
 <link href="css/tryrkt.css" rel="stylesheet" type="text/css">
 <link href="css/gh-fork-ribbon.css" rel="stylesheet" type="text/css">
</head>
<body>
 
<div id="header">
  <h1>
   <a>
    <!--<img src="img/logo1.png" alt="[logo]" style="vertical-align: middle; margin: 13px 0.25em 0 0; border: 0;"> -->
	<span style="font-size: 80px; vertical-align: middle;" class="navtitle">></span>
    <span style="font-size: 80px; vertical-align: middle;" class="navtitle">(</span>
	<span style="font-size: 80px; vertical-align: middle;" class="navtitle">Programmieren</span>
    <span style="font-size: 80px; vertical-align: middle;" class="navtitle">)</span>
    
   </a>
  </h1>
  
 </div>

 <div id="wrapper">

	 <div id="content">
		 <div id="container">
		 
			<div id="navigator">
			    <ul>
				  <li><strong>Home</strong></li>
				  <li><a href="news.asp">News</a></li>
				  <li><a href="contact.asp">Contact</a></li>
				  <li><a href="about.asp">About</a></li>
				</ul> 
			</div>
			<div class="console" id="console"></div>
		 		<div id="changer">
				<p class="bottom">S-Ausdr&uuml;cke</p>
			</div>
		 </div>
		 
	 </div>
 </div>
 
 <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
 <script src="js/jquery.console.js" type="text/javascript"></script>
 <script src="js/tryrkt.js" type="text/javascript"></script>
 <script type="text/javascript">
 evalUrl = "/;((%22k%22%20.%20%22(6768%201%2015439783)%22))";
 </script>
 </body>
 </html>
 
 
 