<h2>Datentypen</h2>

<p> Elementare Datentypen sind</p>
<p>1. Symbole (identifier)</p>
<p>2. Zahlen (complex, real, rational, integer)</p>
<p>3. Boolesche Werte (boolean)</p>
<p>4. Character-Konstanten (character)</p>
<p>5. Zeichenketten-Konstanten (string)</p>
<p>Es existieren unterschiedliche Typen von Zahlen, number ist eine Bezeichnung, unter der alle
Zahlentypen (complex, real, rational,integer) zusammengefasst werden. </p>


<p>Zahlen k&ouml;nnen direkt im Interaktionsfenster (=REPL) eingegeben werden  und sind selbstauswertend.</p>


<p>> <code class="expr" class="expr">159</code></p>
<p>159</p>


<p><code class="expr">next</code></p>
