<h2>Namen und Umgebungen</h2>

<p>Der <i>define</i>-Operator <br/>
(<i>define Name Ausdruck</i>) <br/>
bewirkt, dass mit dem <i>Namen</i> der Wert von <i>Ausdruck</i> assoziiert wird.
Die Liste aller Assoziationen <i>(Name, Wert)</i> hei&szlig;t Umgebung, genauer <i><u>globale Umgebung</u></i>. 
Um Namen verwenden zu k&ouml;nnen, m&uuml;ssen sie in der aktuellen Umgebung bekannt sein.<br/>
Namen werden in Scheme durch Bezeichner (Symbol) dargestellt. Bezeichner k&ouml;nnen aus:<br/>
<ul>
	<li>Buchstaben: A ... Z, a ... z</li>
	<li>Ziffern: 0 ... 9</li>
	<li>Sonderzeichen +, -, ., *, /, <, ...</li>
</ul> </p>
<p>bestehen. Dabei gelten gewisse Einschr&auml;nkungen, z.B. darf ein Bezeichner nicht mit einer Ziffer beginnen.<br/>
Au&szlig;erdem gibt es reservierte W&ouml;rter, z.B. <i>begin</i>.<br/>
Scheme unterscheidet zwar nicht zwischen Gro&szlig;- und Kleinschreibung, aber Bezeichner sollten konsistent benutzt werden.<br/>
Bezeichner sollten auch aussagekr&auml;ftig sein. <br/>
</p>


 
