<h2>Umgang  mit <i>REPL</i></h2>

<p>Nach der Eingabe eines Ausdrucks hinter dem Prompt-Zeichen ">" in der <i>REPL</i> und Dr&uuml;cken der Eingabe-Taste wird der Ausdruck ausgewertet und das Ergebnis wird in einer neuen Zeile darunter angezeigt. <br/>

Geben Sie einen einfachen Ausdruck ein, wie die Zahl <code class="expr" class="expr">5</code>, oder die Zeichenkette <code class="expr">"Ich lerne Programmieren."</code>*. </p>

<p>Neben der manuellen Eingabe, wenn ein Ausdruck links als Beispiel steht, gibt es auch die M&ouml;glichkeit, diesen einfach durch einen Klick in die Eingabezeile r&uuml;ber zu kopieren.</p>
<p>Mittels Strg + Pfeil-Taste k&ouml;nnen bereits zur Auswertung vorgelegte Ausdr&uuml;cke wieder in die Eingabezeile geholt werden.<br/>
 </p>
<div id="note">
  * Die Ausdr&uuml;cke basieren auf einfachen Datentypen. Sie repr&auml;sentieren Konstanten, die bei der Auswertung sich selbst ergeben, mehr dazu wird unter <i>Grundlagen->Datentypen</i> erkl&auml;rt.
</div>





