<h2>Einf&uuml;hrung</h2>

<p> Dieser Onlinelernkurs dient als ein Tutor zum Thema "Programmieren". Es soll ein Dialog zwischen dem Leser und dem Rechner in der Sprache "Scheme" stattfinden.
 F&uuml;r einen Dialog m&uuml;ssen die Dialogpartner die Semantik und Syntax der Sprache kennen.<br/>
 Unser Dialogpartner ist also ein Scheme-Interpreter. Dieser ist rechts als Konsole zu sehen.</p>
<p>Aus der Sicht des Scheme-Interpreters wird folgender Zyklus ausgef&uuml;hrt:
<ul>
	<li>Einlesen der Eingabe (read)</li>
	<li>Auswerten der Eingabe, falls diese f&uuml; den Interpreter verst&auml;ndlich ist (eval)</li>
	<li>Ausgeben einer Antwort (print)</li>
	<li>Setze fort bei 1. (loop)</li> </ul>

<p>Die Anfangsbuchstaben der in Klammern geschriebenen englischen Worte ergeben den daf&uuml;r g&auml;ngigen Begriff, n&auml;mlich <i>REPL</i> - Read-Eval-Print-Loop.<br/>
  Durch einen Klick auf einem Unterpunkt links im Navigationsmen&uuml; kann man ein gew&uuml;nchtes Thema ausw&auml;hlen und so durch die Seiten navigieren.
</p>
<p>Jetzt zeigen wir, wie man in diesem Kurs mit dem Interpreter arbeitet.</p>
