<h2>Ausdr&uuml;cke</h2>

<p>
Scheme hat folgene Schreibweise, Syntax: </p>
<p>(< Operator > < Operand1 > < Operand2 > ....)</p>
<p>Zun&auml;chst k&ouml;nnen wir diese Ausdr&uuml;cke als einen Term (wie in der Mathematik) auffassen, der durch runde Klammern eingeschlossen ist und in dem zuerst ein Rechenzeichen und anschließend die
Zahlen stehen, man spricht von der Pr&auml;fix-Schreibweise (im Gegensatz zur &uuml;blichen algebraischen Schreibweise oder Infix-Notaion):</p>

<table border="1" rules="groups"> <colgroup>
    <col width="120">
    <col width="120">
  </colgroup>
  <thead>
    <tr>
      <th>Pr&auml;fix-Notation</th>
	  <th>Infix-Notation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center"><code class="expr" class="expr">(+ 5 16 8)</code></td>
	  <td align="center">5 + 16 + 8</td>
    </tr>
	<tr>
      <td align="center"><code class="expr" class="expr">(* 3 (- a b))</code></td>
      <td align="center">3(a - b)</td>
    </tr>
  </tbody>
</table>

<p>Dabei gilt:</p>
<p>• Klammern treten immer paarweise auf</p>
<p>• Ausdr&uuml;cker k&ouml;nnen geschachtelt werden</p>
<p>• Die Berechnung geschachtelter Ausdr&uuml;cke erfolgt immer von innen nach außen: Berechnete Funktionswerte
innerer Ausdr&uuml;cke sind gleichzeitig Argumente f&uuml;r &auml;ußere Ausdr&uuml;cke.</p>

<p>Mathematische Terme k&ouml;nnen direkt im Interaktionsfenster (=REPL) ausgewertet werden, da die meisten Operatoren in Scheme eingebaut sind.</p>


<p>> <code class="expr" class="expr">(+ 11 30)</code></p>
<p>41</p>
<!--<p>> (- 30 23)</p>
<p>7</p>
<p>> (- 23 30)</p>
<p>-7</p>
<p>> (/ 15 3)</p>
<p>5</p>
<p>> (/ 4 8)</p>
<p>0.5</p>
<p>> (* 12 7)</p>
<p>84</p>
<p>-->
<p>Die Eingabe kann durch Eintippen des Ausdruckes sein. Aber wenn ein Ausdruck links als Beispiel steht, kann man diesen einfach durch einen Klick in die Konsole hinein kopieren</p>

<p>So, wir starten! <code class="expr">next</code></p>
